.settings
/.settings
/.project
/target

*.bak
/bak
/test
/WebContent/log
/WebContent/tempUpload
/WebContent/asset
/WebContent/checkCodeImges
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/WebContent/test.html
/WebContent/test.jsp
/WebContent/test.jsp
/src/test
