<?xml version="1.0" encoding="UTF-8" ?>

<!-- 我听用户 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WT_GROUP">
  <!-- 对象定义:用户信息 -->
  <resultMap id="groupMap" type="WtGroup">
    <id      column="id"            property="groupId"       jdbcType="VARCHAR"/>
    <result  column="groupName"     property="groupName"     jdbcType="VARCHAR"/>
    <result  column="groupImg"      property="groupImg"      jdbcType="VARCHAR"/>
    <result  column="pId"           property="pId"           jdbcType="VARCHAR"/>
    <result  column="sort"          property="sort"          jdbcType="INTEGER"/>
    <result  column="createUserId"  property="createUserId"  jdbcType="VARCHAR"/>
    <result  column="adminUserId"   property="adminUserId"   jdbcType="INTEGER"/>
    <result  column="descn"         property="descn"         jdbcType="VARCHAR"/>
    <result  column="cTime"         property="CTime"         jdbcType="TIMESTAMP"/>
    <result  column="lmTime"        property="lmTime"        jdbcType="TIMESTAMP"/>
    <result  column="groupCount"    property="groupCount"    jdbcType="INTEGER"/>
  </resultMap>

  <!-- 对象定义:用户信息 -->
  <resultMap id="groupUserMap" type="WtGroupUser">
    <id      column="id"       property="id"       jdbcType="VARCHAR"/>
    <result  column="groupId"  property="groupId"  jdbcType="VARCHAR"/>
    <result  column="userId"   property="userId"   jdbcType="VARCHAR"/>
    <result  column="inviter"  property="inviter"  jdbcType="VARCHAR"/>
    <result  column="cTime"    property="CTime"    jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, groupName, groupImg, pId, sort, createUserId, adminUserId, descn, cTime, lmTime
  </sql>

  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="groupId!=null"> and id=#{groupId,jdbcType=VARCHAR}</if>
        <if test="groupName!=null"> and groupName=#{groupName,jdbcType=VARCHAR}</if>
        <if test="groupImg!=null"> and groupImg=#{groupImg,jdbcType=VARCHAR}</if>
        <if test="pId!=null"> and pId=#{pId,jdbcType=VARCHAR}</if>
        <if test="sort!=null and sort!=0"> and sort=#{sort,jdbcType=INTEGER}</if>
        <if test="createUserId!=null"> and createUserId=#{createUserId,jdbcType=VARCHAR}</if>
        <if test="adminUserId!=null"> and adminUserId=#{adminUserId,jdbcType=VARCHAR}</if>
        <if test="descn!=null"> and descn=#{descn,jdbcType=VARCHAR}</if>
        <if test="CTime!=null"> and cTime=#{CTime,jdbcType=TIMESTAMP}</if>
        <if test="lmTime!=null"> and lmTime=#{lmTime,jdbcType=TIMESTAMP}</if>
      </trim>
    </where>
  </sql>

  <!-- 获得记录条数-->
  <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) from plat_Group <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </select>

  <!-- 获得列表 -->
  <select id="getList" resultMap="groupMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_User
    <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
    <if test="orderByClause!=null">order by ${orderByClause}</if>
  </select>

  <!-- 获得一条数据 -->
  <select id="getInfo" resultMap="groupMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List"/> from plat_User <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </select>
  <select id="getUserById" resultMap="groupMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from plat_User where id=#{userId,jdbcType=VARCHAR}
  </select>

  <!-- 得到某用户所属的用户组 -->
  <select id="getGroupListByUserId" resultMap="groupMap" parameterType="java.lang.String">
    select f.*, s.groupCount from plat_Group f, 
      (select a.groupid, count(a.userid) groupCount from plat_GroupUser a, plat_GroupUser b
       where a.groupid=b.groupid and b.userid=#{value, jdbcType=VARCHAR}
       group by a.groupid) s
    where f.id=s.groupid
  </select>

  <!-- 新增数据 -->
  <insert id="insert" parameterType="java.util.Map"> insert into plat_Group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId!=null">id,</if>
      <if test="groupName!=null">groupName,</if>
      <if test="groupImg!=null">groupImg,</if>
      <if test="pId!=null">pId,</if>
      <if test="sort!=null and sort!=0">sort,</if>
      <if test="createUserId!=null">createUserId,</if>
      <if test="adminUserId!=null">adminUserId,</if>
      <if test="descn!=null">descn,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId!=null">#{groupId,jdbcType=VARCHAR},</if>
      <if test="groupName!=null">#{groupName,jdbcType=VARCHAR},</if>
      <if test="groupImg!=null">#{groupImg,jdbcType=VARCHAR},</if>
      <if test="pId!=null">#{pId,jdbcType=VARCHAR},</if>
      <if test="sort!=null and sort!=0">#{sort,jdbcType=INTEGER},</if>
      <if test="createUserId!=null">#{createUserId,jdbcType=VARCHAR},</if>
      <if test="adminUserId!=null">#{adminUserId,jdbcType=VARCHAR},</if>
      <if test="descn!=null">#{descn,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <!-- 修改 根据主键-->
  <update id="update" parameterType="java.util.Map">
    update plat_Group
    <set>
      <if test="groupId!=null">id=#{groupId,jdbcType=VARCHAR},</if>
      <if test="groupName!=null">groupName=#{groupName,jdbcType=VARCHAR},</if>
      <if test="groupImg!=null">groupImg=#{groupImg,jdbcType=VARCHAR},</if>
      <if test="pId!=null">pId=#{pId,jdbcType=VARCHAR},</if>
      <if test="sort!=null and sort!=0">sort=#{sort,jdbcType=INTEGER},</if>
      <if test="createUserId!=null">createUserId=#{createUserId,jdbcType=VARCHAR},</if>
      <if test="adminUserId!=null">adminUserId=#{adminUserId,jdbcType=VARCHAR},</if>
      <if test="descn!=null">descn=#{descn,jdbcType=VARCHAR},</if>
      <if test="CTime!=null">cTime=#{CTime,jdbcType=TIMESTAMP},</if>
    </set>
    where id=#{groupId,jdbcType=VARCHAR}
  </update>

  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.String">
    delete from plat_Group where id=#{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByEntity" parameterType="java.util.Map">
    delete from plat_Group <if test="_parameter=null"><include refid="WhereClauseByEntiey"/></if>
  </delete>

  <!-- 新增数据 -->
  <insert id="insertGroupUser" parameterType="java.util.Map">
    insert into plat_GroupUser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id!=null">id,</if>
      <if test="groupId!=null">groupId,</if>
      <if test="userId!=null">userId,</if>
      <if test="inviter!=null">inviter,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id!=null">#{id,jdbcType=VARCHAR},</if>
      <if test="groupId!=null">#{groupId,jdbcType=VARCHAR},</if>
      <if test="userId!=null">#{userId,jdbcType=VARCHAR},</if>
      <if test="inviter!=null">#{inviter,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
</mapper>